$toaster-margin: 1em;
$toaster-radius: 4px;

.toaster {
   position: fixed !important;
   z-index: 10000;
   opacity: 0.9;
   width: 280px;
   right: $toaster-margin;
   margin-bottom: $toaster-margin;
   box-shadow: 0 $toaster-radius $toaster-radius rgba(0, 0, 0, 0.4);
   border: 1px solid #000;
   border-radius: $toaster-radius;
   padding: 6px $toaster-margin;
   background: #eee;
   cursor: default;
   clip-path: inset(0 -#{$toaster-radius} 100% -#{$toaster-radius} round #{$toaster-radius * 2});

   .icon {
      font-size: 32px;
      line-height: 32px;
      position: relative;
      display: table-cell;
      vertical-align: middle;
      padding-right: $toaster-margin;
   }

   .body {
      padding: 0;
      line-height: 1.3;
      display: table-cell;
      vertical-align: middle;
   }
}
